body {
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.header {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
}
.header .buttons {
    text-align: right;
    margin-bottom: 20px;
}
.header .buttons a {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.header .register-button {
    background-color: blue;
    color: white;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
.form {
    width: 50%;
    margin: auto;
}
.form label {
    display: block;
    margin-bottom: 10px;
}
.form input[type="username"],
.form input[type="password"] {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.form input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}
