{% extends 'base.html' %}

{% block content %}

  <h1 class="is-size-3">New consume for {{ appliance.type }} {{ appliance.brand }} {{ appliance.model }}</h1>

  <form action="#" method="post">
    <div class="field">
      <label class="label" for="date">Date</label>
      <div class="control">
        <input name="date" value="{{ request.form['date'] }}" class="input"></input>
      </div>
    </div>

    <div class="field">
      <label class="label" for="body">Reading</label>
      <div class="control">
        <input name="reading" value="{{ request.form['reading'] }}" class="input"></input>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Save consume" class="button is-primary" />
      </div>
      <div class="control">
        <a href="{{ url_for('appliances') }}" class="#">Cancel</a>
      </div>
    </div>
      <div class="field">
        <div class="control">
          {% if appliance.consume %}
            <label class="label">Readings:</label>
            <ul>
              {% for key, value in appliance.consume.items() %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
              {% endfor %}
            </ul>
          {% else%}
            <p><strong>No readings available</strong></p>
          {% endif %}
        </div>
      </div>
    </div>
  </form>

{% endblock %}
