<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="buttons">
                <a class="button" href="/">Home</a>
                <a class="button" href="/login">Login</a>
            </div>
            <h1 class="title">Eco Tracker by /B/S/H/</h1>
        </div>

        <div class="form">
            <h2>Register</h2>
            <form action="/register" method="POST">
                <label for="username">Username</label>
                <input type="username" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
</html>
